html , body {
    text-align: center;
    background-image: linear-gradient(130deg,  #b3f0ff,#4dd2ff, #b3f0ff);
    height: 100%; 
    background-size: cover; 
    /* background-repeat:repeat; */
    background-repeat:no-repeat;
}

table { 
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 , auto;
}

table, th, td {
    text-align: center;
}

.imgCountries {
    width: 150px;
}

h1 {
    color:#0099cc;
}