html , body {
    text-align: center;
    background-image: linear-gradient(#b3f0ff,#4dd2ff, #b3f0ff);
    height: 100%; 
    background-size: cover; 
}

table { 
    margin: 0 , auto;
}

table, th, td {
    text-align: center;
}

.imgCountries {
    width: 150px;
}

h1 {
    color:#0099cc;
}